<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 引入属性文件 -->
    <context:property-placeholder location="classpath:config.properties"/>
    
    <!-- Controller包(自动注入) -->
    <context:component-scan base-package="cn.edu.zzuli"/>

<!-- 	<bean id="tokenFilter" class="cn.edu.zzuli.filter.LoginFilter">
	 	<property name = "redisTemplate" ref="redisTemplate"></property>
	 </bean> -->

<!-- 引入配置文件 -->  
<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">  
    <property name="locations">  
        <list>  
        <value>classpath:config.properties</value>  
        </list>  
    </property>  
</bean>  
<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">  
    <property name="properties" ref="configProperties" />  
</bean> 


    <import resource="classpath:spring/spring-mybatis.xml"/>
    <!-- 加载Redis配置文件 -->
   <!--  <import resource="classpath:spring/spring-redis.xml" />  -->
        
</beans>